requests
beautifulsoup4
pandas
nltk
numpy
sentence_transformers
torch
transformers
huggingface_hub[hf_xet]
langchain_huggingface
sentencepiece
matplotlib 
plotly 
nbformat 
scikit-learn 
spacy  
accelerate 
bitsandbytes  
ipython